.nav-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 3vw ;
    font-weight: bold;
}
.nav-link:hover {
    color: red;
    font-weight: bolder;
}

.active {
    color: red;
    font-weight: bolder;
}
